#second{
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff7fa;
}

#third{
    margin-left: 10;
}

.color{
    color: brown;
}

table{
    width: 100%;
    padding-left: 25px;
}

td{
    font-size: larger;
}



